@charset 'utf-8';

@media screen and (max-width:600px) {
    nav {
        border-bottom: 1px solid #ccc;
        height: 90px;
    }
    .nav-wrap {
        max-width: 100%;
        margin: 0 auto;
        display: block;
        text-align: center;
}

.menu ul {
    display: none;
    
}

.menu ul li {
    margin-left: 50px;
}

.menu ul li a {
    font-weight: 700;
}

.hero {
    background-color: #000;
    max-width: 100%;
    height: 800px;
}

.bars {
    display: block;
}
}