@charset 'utf-8';

nav {
    border-bottom: 1px solid #ccc;
    height: 90px;
}

.nav-wrap {
    /* 넓이 안주면 무조건 100% */
    max-width: 1400px;
    /* background-color: #000; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* align-items(높이)는 무조건 줘야함 - 아니면 세로정렬 x */
    align-items: center;
    height: 90px;
}

.menu ul {
    display: flex;
}

.menu ul li {
    margin-left: 50px;
}

.menu ul li a {
    font-weight: 700;
}

.hero {
    background-color: #000;
    max-width: 100%;
    height: 800px;
}


